<ul class="space-y-1">
    {% for col in collections %}
    <li>
        <div hx-get="/collections/{{ col.id }}" hx-target="main" hx-swap="outerHTML" class="cursor-pointer group flex items-center gap-3 px-3 py-2 rounded-lg text-sm transition-all duration-200
                  {% if current_collection and current_collection.id == col.id %}
                      bg-blue-50 text-blue-700 font-medium
                  {% else %}
                      text-gray-600 hover:bg-gray-100
                  {% endif %}">

            <span
                class="{% if current_collection and current_collection.id == col.id %}text-blue-500{% else %}text-gray-400 group-hover:text-gray-500{% endif %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                </svg>
            </span>

            <span class="truncate">{{ col.name }}</span>
        </div>
    </li>
    {% endfor %}
</ul>